 # attribute access
 You may access an `index on a Series` or `column on a DataFrame` directly as an attribute:

In [19]:
import numpy as np
import pandas as pd

### 对于 Series

In [20]:
s1 = pd.Series(['3', np.nan, 'hahaha'], index=list((2, 'you', '8')))  # list 接受一个可迭代对象，将其转换为列表
s1

2           3
you       NaN
8      hahaha
dtype: object

In [21]:
s1.you  # 索引

nan

In [22]:
s1.you = 666  # 修改值

In [23]:
s1

2           3
you       666
8      hahaha
dtype: object

In [24]:
# 只有当索引元素是一个有效的Python标识符时，你才能使用这种访问，例如，s1.2、s1.8是不允许的。
s1.8

SyntaxError: invalid syntax (Temp/ipykernel_26688/3150021494.py, line 2)

In [25]:
s1.2

SyntaxError: invalid syntax (Temp/ipykernel_26688/2775352423.py, line 1)

### 对于 DataFrame

In [26]:
df1 = pd.DataFrame(np.random.randint(-100, 100, size=(6, 9)), index=['good', 66, 'ha', 88, 'hey', 'ya'], 
                                                                                                      columns=['ddd', 2, 'his', 'lalala', 'may', 'am', '888', 'fighting', '999'])
df1

      ddd   2  his  lalala  may  am  888  fighting  999
good   53  69  -42    -100  -90 -29   62       -23   59
66     29  94   95     -40   48  94   56       -26   38
ha     18  64   -4      62  -35  88   92        66   18
88    -56  36  -18      90  -55 -45   -3        -7   35
hey    97  73  -56     -54   87 -56    4         9  -51
ya      4 -17   48      -8  -40 -62  -94        70  -42

In [27]:
# 只有当索引元素是一个有效的Python标识符时，你才能使用这种访问，例如，df1.2、df1.888是不允许的。
df1.his

good   -42
66      95
ha      -4
88     -18
hey    -56
ya      48
Name: his, dtype: int32

In [28]:
df1.2

SyntaxError: invalid syntax (Temp/ipykernel_26688/2650409092.py, line 1)

In [29]:
df1.888

SyntaxError: invalid syntax (Temp/ipykernel_26688/1261489967.py, line 1)

In [30]:
df1.his = range(6)  # 修改值
df1

      ddd   2  his  lalala  may  am  888  fighting  999
good   53  69    0    -100  -90 -29   62       -23   59
66     29  94    1     -40   48  94   56       -26   38
ha     18  64    2      62  -35  88   92        66   18
88    -56  36    3      90  -55 -45   -3        -7   35
hey    97  73    4     -54   87 -56    4         9  -51
ya      4 -17    5      -8  -40 -62  -94        70  -42

# selection by callable
`.loc`, `.iloc`, and also `[ ]` indexing can accept a callable as indexer. The callable must be a function with one argument (the calling Series or DataFrame) that returns valid output for indexing.

In [33]:
df2 = pd.DataFrame(np.random.randint(-100, 100, size=(6, 4)),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df2

    A   B   C   D
a  52 -87  87 -35
b -38  19 -10  27
c  28 -94 -82   4
d   7  17  -3  19
e -25 -43 -68  73
f -74  80 -53  39

In [35]:
df2.loc[lambda df: df['A'] > 0, :]

    A   B   C   D
a  52 -87  87 -35
c  28 -94 -82   4
d   7  17  -3  19

In [38]:
df2.loc[:, lambda df: ['A', 'B']]

    A   B
a  52 -87
b -38  19
c  28 -94
d   7  17
e -25 -43
f -74  80

In [40]:
df2.columns[0]

'A'

In [45]:
df2[lambda df: df.columns[0]]

a    52
b   -38
c    28
d     7
e   -25
f   -74
Name: A, dtype: int32

In [48]:
df2

    A   B   C   D
a  52 -87  87 -35
b -38  19 -10  27
c  28 -94 -82   4
d   7  17  -3  19
e -25 -43 -68  73
f -74  80 -53  39

In [47]:
# You can use callable indexing in Series.
df2['A'].loc[lambda s: s > 0]

a    52
c    28
d     7
Name: A, dtype: int32