In [1]:
import numpy as np
import pandas as pd

# Series的基本属性
`index`、`dtype`、`name`

# from dict（字典）
Series can be instantiated from dicts:

In [2]:
d = {1: 1, '3':  'dd', 123: 321}
d[666] = 666
print('d: ', type(d), '\n')
print('-'*20)

s = pd.Series(d)
print('s:\n', s, '\n\n', type(s))
print('\n', s.index)

d:  <class 'dict'>

--------------------
s:
 1        1
3       dd
123    321
666    666
dtype: object

 <class 'pandas.core.series.Series'>

 Index([1, '3', 123, 666], dtype='object')

In [3]:
d = {"b": 3.1, "c": 2.0, "a": 4.8}
pd.Series(d)

b    3.1
c    2.0
a    4.8
dtype: float64

In [4]:
# 自定义其他index
# 注意：NaN (not a number) is the standard missing data marker used in pandas.
pd.Series(d, index=["b", "c", "d", "a"])

b    3.1
c    2.0
d    NaN
a    4.8
dtype: float64

# Series is ndarray-like
Series acts very similarly to a ndarray, and is a valid argument to most NumPy functions. However, operations such as slicing will also slice the index.

In [5]:
s = pd.Series(np.linspace(1, 20, 6), index=['you', 'and', 'me', 'forever', 'be', 'together'])
print(s.dtype, '\n')
print(s)

float64

you          1.0
and          4.8
me           8.6
forever     12.4
be          16.2
together    20.0
dtype: float64

In [6]:
s[0]

1.0

In [7]:
s[:3]

you    1.0
and    4.8
me     8.6
dtype: float64

In [8]:
print(s.median())  # median() 是计算中位数的方法
s[s > s.median()]

10.5

forever     12.4
be          16.2
together    20.0
dtype: float64

In [9]:
np.exp(s)

you         2.718282e+00
and         1.215104e+02
me          5.431660e+03
forever     2.428016e+05
be          1.085352e+07
together    4.851652e+08
dtype: float64

In [10]:
# We will address array-based indexing like s[[4, 3, 1]] in section on indexing.
# 链接：https://pandas.pydata.org/docs/user_guide/indexing.html#indexing
s[[4, 3, 1]]

be         16.2
forever    12.4
and         4.8
dtype: float64

In [11]:
# If you need the actual array backing a Series, use Series.array.
s.array

<PandasArray>
[1.0, 4.8, 8.6, 12.399999999999999, 16.2, 20.0]
Length: 6, dtype: float64

In [12]:
s.to_numpy()

array([ 1. ,  4.8,  8.6, 12.4, 16.2, 20. ])

# Series is dict-like
A Series is like a fixed-size dict in that you can get and set values by index label.

In [13]:
s["forever"]

12.399999999999999

In [14]:
s['forever'] = 99999
s

you             1.0
and             4.8
me              8.6
forever     99999.0
be             16.2
together       20.0
dtype: float64

In [15]:
print('me' in s)
print('Jack' in s)

True
False

In [16]:
# If a label is not contained, an exception is raised.
# Using the get method, a missing label will return None or specified default.
print(s.get('Jack'))
print(s.get('jack', np.nan))

None
nan

# Vectorized operations and label alignment with Series

In [17]:
s

you             1.0
and             4.8
me              8.6
forever     99999.0
be             16.2
together       20.0
dtype: float64

In [18]:
s + s

you              2.0
and              9.6
me              17.2
forever     199998.0
be              32.4
together        40.0
dtype: float64

In [19]:
s * s

you         1.000000e+00
and         2.304000e+01
me          7.396000e+01
forever     9.999800e+09
be          2.624400e+02
together    4.000000e+02
dtype: float64

In [20]:
np.sin(s)

you         0.841471
and        -0.996165
me          0.734397
forever     0.860248
be         -0.472422
together    0.912945
dtype: float64

In [21]:
s1 = s[2:] + s[:]
print(s1)
s1['you']

and              NaN
be              32.4
forever     199998.0
me              17.2
together        40.0
you              NaN
dtype: float64

nan

# Name attribute
Series can also have a `name` attribute.

In [22]:
s = pd.Series(np.random.randn(5), name="something")
print(s, '\n')

print(s.name)

0   -0.670382
1   -0.608059
2   -1.107310
3    1.030619
4    0.724862
Name: something, dtype: float64

something

In [23]:
# You can rename a Series with the pandas.Series.rename() method.
# Note that s and s2 refer to different objects.
s = s.rename("different")
s

0   -0.670382
1   -0.608059
2   -1.107310
3    1.030619
4    0.724862
Name: different, dtype: float64