 # attribute access
 You may access an `index on a Series` or `column on a DataFrame` directly as an attribute:

In [1]:
import numpy as np
import pandas as pd

### 对于 Series

In [2]:
s1 = pd.Series(['3', np.nan, 'hahaha'], index=list((2, 'you', '8')))  # list 接受一个可迭代对象，将其转换为列表
s1

2           3
you       NaN
8      hahaha
dtype: object

In [3]:
s1.you  # 索引

nan

In [4]:
s1.you = 666  # 修改值

In [5]:
s1

2           3
you       666
8      hahaha
dtype: object

In [6]:
# 只有当索引元素是一个有效的Python标识符时，你才能使用这种访问，例如，s1.2、s1.8是不允许的。
s1.8

SyntaxError: invalid syntax (Temp/ipykernel_48524/3150021494.py, line 2)

In [7]:
s1.2

SyntaxError: invalid syntax (Temp/ipykernel_48524/2775352423.py, line 1)

### 对于 DataFrame

In [8]:
df1 = pd.DataFrame(np.random.randint(-100, 100, size=(6, 9)), index=['good', 66, 'ha', 88, 'hey', 'ya'], 
                                                                                                      columns=['ddd', 2, 'his', 'lalala', 'may', 'am', '888', 'fighting', '999'])
df1

      ddd   2  his  lalala  may  am  888  fighting  999
good   -6   2  -88     -12   56  13  -74        77   39
66     14 -74   46     -27   31 -19   53       -89   85
ha    -38  42  -92     -95   88 -52  -11       -16   33
88     -7   7  -28     -86  -16 -66  -28       -97  -38
hey   -51  53  -48      35   -2 -74   59        81   87
ya     39  28  -22      73  -68   8  -52       -38   25

In [9]:
# 只有当索引元素是一个有效的Python标识符时，你才能使用这种访问，例如，df1.2、df1.888是不允许的。
df1.his

good   -88
66      46
ha     -92
88     -28
hey    -48
ya     -22
Name: his, dtype: int32

In [10]:
df1.2

SyntaxError: invalid syntax (Temp/ipykernel_48524/2650409092.py, line 1)

In [11]:
df1.888

SyntaxError: invalid syntax (Temp/ipykernel_48524/1261489967.py, line 1)

In [12]:
df1.his = range(6)  # 修改值
df1

      ddd   2  his  lalala  may  am  888  fighting  999
good   -6   2    0     -12   56  13  -74        77   39
66     14 -74    1     -27   31 -19   53       -89   85
ha    -38  42    2     -95   88 -52  -11       -16   33
88     -7   7    3     -86  -16 -66  -28       -97  -38
hey   -51  53    4      35   -2 -74   59        81   87
ya     39  28    5      73  -68   8  -52       -38   25

# selection by callable
`.loc`, `.iloc`, and also `[ ]` indexing can accept a callable as indexer. The callable must be a function with one argument (the calling Series or DataFrame) that returns valid output for indexing.

In [13]:
df2 = pd.DataFrame(np.random.randint(-100, 100, size=(6, 4)),
                   index=list('abcdef'),
                   columns=list('ABCD'))
df2

    A   B   C   D
a -24  20 -75  32
b  -8 -89  61  63
c  50  88  64  34
d  33  36 -33 -67
e  62  63 -36  67
f -79 -77  90  10

In [14]:
df2.loc[lambda df: df['A'] > 0, :]

    A   B   C   D
c  50  88  64  34
d  33  36 -33 -67
e  62  63 -36  67

In [15]:
df2.loc[:, lambda df: ['A', 'B']]

    A   B
a -24  20
b  -8 -89
c  50  88
d  33  36
e  62  63
f -79 -77

In [16]:
df2.columns[0]

'A'

In [17]:
df2[lambda df: df.columns[0]]

a   -24
b    -8
c    50
d    33
e    62
f   -79
Name: A, dtype: int32

In [18]:
df2

    A   B   C   D
a -24  20 -75  32
b  -8 -89  61  63
c  50  88  64  34
d  33  36 -33 -67
e  62  63 -36  67
f -79 -77  90  10

In [19]:
# You can use callable indexing in Series.
df2['A'].loc[lambda s: s > 0]

c    50
d    33
e    62
Name: A, dtype: int32

# selecting random samples 选择随机样本

In [20]:
s2 = pd.Series([8, 9, 13, 66, 555])
s2

0      8
1      9
2     13
3     66
4    555
dtype: int64

In [21]:
# When no arguments are passed, returns 1 row.
s2.sample()

4    555
dtype: int64

In [23]:
# One may specify either a number of rows.
s2.sample(n=2)

3    66
2    13
dtype: int64

In [24]:
# # Or a fraction of the rows.
s2.sample(frac=0.4)  # 5 × 0.4 =2

2    13
1     9
dtype: int64

In [26]:
s2.sample(frac=0.8)  # 5 × 0.8 = 4

1      9
2     13
3     66
4    555
dtype: int64

In [27]:
# By default, sample will return each row at most once, but one can also sample with replacement using the replace option.
s2.sample(n=5, replace=True)

3     66
0      8
4    555
1      9
0      8
dtype: int64

# Fast scalar value getting and setting 快速标量值获取和设置

In [30]:
s2

0      8
1      9
2     13
3     66
4    555
dtype: int64

In [34]:
s2[2]

13

In [42]:
s2.at[2]  # 标签at

13

In [44]:
s2.iat[4]  # 整数at

555

In [52]:
df1

      ddd   2  his  lalala  may  am  888  fighting  999
good   -6   2    0     -12   56  13  -74        77   39
66     14 -74    1     -27   31 -19   53       -89   85
ha    -38  42    2     -95   88 -52  -11       -16   33
88     -7   7    3     -86  -16 -66  -28       -97  -38
hey   -51  53    4      35   -2 -74   59        81   87
ya     39  28    5      73  -68   8  -52       -38   25

In [54]:
print(df1.index, df1.columns, sep='\n')

Index(['good', 66, 'ha', 88, 'hey', 'ya'], dtype='object')
Index(['ddd', 2, 'his', 'lalala', 'may', 'am', '888', 'fighting', '999'], dtype='object')

In [39]:
df1.iat[1, 1]  # integer at，即 整数 at

-74

In [51]:
df1.at[66, 2]  # 标签 at

-74