In [9]:
import numpy as np
import pandas as pd

In [10]:
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
]
arrays

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [11]:
tuples = list(zip(*arrays))
print(tuples, type(tuples), sep='\n')

[('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]
<class 'list'>

In [12]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [20]:
s = pd.Series(np.random.randint(-10, 10, size=8), index=index, name='ff')
s

first  second
bar    one       5
       two      -6
baz    one       1
       two       5
foo    one       1
       two       4
qux    one       3
       two       9
Name: ff, dtype: int32